.vscode/
__pycache__/
/__pycache__
*.pyc
/pymsgbox/__pycache__
/pymsgbox/__pycache__
/pynput/__pycache__
/pynput/mouse/__pycache__
/pynput/keyboard/__pycache__
/pymsgbox/__pycache__
/pymsgbox/__pycache__
/pynput/_util/__pycache__
/pynput/keyboard/__pycache__
/pynput/mouse/__pycache__
/Installer/build
Installer/main.spec
*.pyc
